.wrapper,
section div.annonces,
section div.activites {
    width: 1140px;
    /* largeur du site */
    margin: 0 auto;
    /* centrer le contenu sur l'axe horizontal */
}

/* HEADER */
header {
    margin-bottom: 30px;
}

header .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .navbar .mobile {
    display: none;
}

header .navbar ul {
    display: flex;

}

header .navbar ul li {
    border-top: solid 3px transparent;
    padding: 30px 25px 30px 25px;
    margin :5px;
    border-color:#F2F2F2;
}


header .navbar ul li:hover {
    cursor: pointer;
    border-color: #0065FC;
}

header .navbar ul li.active a,
header .navbar ul li.signin a {
    color: #0066FF;
}

header .navbar ul li.signin a {
    font-weight: 700;
}

header h2,
header p,
header form,
header .filtres {
    margin-bottom: 20px;
}

header .fa-map-marker-alt {

    background-color: #F2F2F2;
    padding: 12px 12px 12px 12px;

    border-style: none;
    border-radius: 13px 0 0 13px;
    color: black;
    font-size: 1em;
    font-weight: 700;
   

}

header .fa-search {
    display: none;
}

.black {
    color: black;
}


header input {
    padding: 10px;
    border: #F2F2F2 1px solid;
    font-size: 0.9em;
    font-weight: 700;
    margin: -6px;
}

header button {
    background-color: #0065FC;
    padding: 10px;
    border-style: none;
    border-radius: 0 13px 13px 0;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
}

header div.filtres {
    display: flex;
    align-items: end;
}

header div.filtres p {
    font-size: 1.2rem;
    font-weight: 900;
}

header div.filtres ul li {
    float: left;
}

header div.filtres .boutons {
    margin: 30px 0 0 30px;
    padding: 0 15px 0 0;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    border-left-style: none;
    font-size: 0.9em;
    font-weight: 700;
}

header div.filtres .boutons:hover {
    background-color: #0065FC;
    cursor: pointer;
}

header div.filtres .boutons:hover a {
    color: white;
}



header div.filtres .fas {
    padding: 15px;
    margin: 0 10px 0 0;
    border-radius: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
}

header p.infos {
    display: flex;
    align-items: flex-start;
}

header p.infos .fa-info {
    margin-right: 10px;
    padding: 5px 8px;
    border: 2px solid #f2f2f2;
    border-radius: 500px;
    color: #0065FC;
    font-size: 0.7em;
}

/* ANNONCES */
section div.annonces {
    display: inline-flex;
    justify-content: space-between;
}

section div.annonces h2 {
    width: 60%;
    margin-bottom: 30px;
}

section div.annonces .hebergements {
    width: 720px;
    padding: 20px 20px;
}

section div.annonces .hebergements div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


section div.annonces .hebergements .annonce {
    width: 31%;
    padding: 5px 5px 20px;
    margin-bottom: 30px;
    background-color: #FFF;
}



section div.annonces .hebergements .annonce img {
    width: 100%;
    height: 110px;            
    padding: 1px;
    border-radius: 20px 20px 0px 0px; 
    object-fit: cover;
}

section div.annonces .hebergements .annonce img  a{
    width: 90%;
}



section div.annonces .hebergements .annonce p {
    width: 65%;
}

section div.annonces .hebergements .annonce .note {
    display: block;
}

section div.annonces .hebergements .more {
    font-size: 20px;
    font-weight: 700;
}

section div.annonces .populaires {
    width: 25%;
    padding: 15px 40px;
}

section div.annonces .populaires h2 i {
    float: right;
    color: #000;
    line-height: 36px;
}

section div.annonces .populaires .annonce {
    width: 100%;
    height: 135px;

    margin-bottom: 30px;
    padding: 5px;
    background-color: #FFF;
}



section div.annonces .populaires 

h3 {
    justify-content: space-between;
}


section div.annonces .populaires .annonce img {
    float: left;
    border-radius: 20px 0% 0% 20px;
    width: 135px;
    height: 135px;
    margin-right: 15px;
}


#popular .fa-chart-line {
    float: right;
}


section div.annonces .hebergements .annonce h3,
section div.annonces .hebergements .annonce p,
section div.annonces .populaires .annonce h3,
section div.annonces .populaires .annonce p {
    padding: 10px 0;
    font-size: 14px;
}

/* ACTIVITES */
section h2 {
    margin-top: 60px;
}

section .activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
}

section .activites .colonne {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 90%;

}

section .activites .colonne .annonce {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 13px;
    overflow: hidden;
    margin-top: 15px;
    padding: 0px;
}


section div.activites .colonne img {
    height : 100% ;
    object-fit: cover;
    padding : 0%;
    border-radius: 0px 0px 0px 0px;
}
section div.activites .colonne .annonce h3 {
    padding: 10px 20px;
    font-size: 16px;
}

section div.activites .colonne .big {
    flex-grow: 1;
}

/* FOOTER */
footer {
    margin-top: 30px;
    padding: 2rem;
}

footer .wrapper {
    display: flex;
}

footer .wrapper div {
    width: 30%;
}

footer div h6 {
    font-size: 18px;
    font-weight: 700;
}

footer div h6,
footer div ul li {
    margin-bottom: 1rem;
}