/* @media screen and (max-width: 779.98px) { */
@media screen and (max-width: 764.98px) {

    .wrapper,
    section div.annonces,
    section div.activites {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .bordure {
        border-radius: 20px;
    }

    /* HEADER */
    header {
        padding: 10px 0px 0px;
    }

    header.logo {

        margin-top: -20px;
        width: 120px;
    }

    header .navbar {

        margin-top: -30px;
        justify-content: space-around;
        align-items: center;

    }

    header .navbar .navsignin {

        /* position: absolute; */
        padding: 0px 0px 0px 100px;
        font-weight: bold;
    }

    header .navbar ul li {

        position: relative;
        border-bottom: solid 3px transparent;
        padding: 80px 0px 0px 05px;
    }

    header .navbar ul li:hover {
        cursor: none;
        border-color: transparent;
    }

    header h2 {
        margin-top: 10px;
        width: 100%;
    }

    header form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }

    header form input {
        padding: 9px;
        flex-grow: 1;
    }

    header form button {
        line-height: 0;
    }

    header form button span {
        font-size: 0;
    }

    header form .fa-search {
        display: block;
        color: #FFF;
    }

    header div.filtres {
        flex-wrap: wrap;
    }

    header div.filtres .boutons {
        margin: 15px 0 0 30px;
    }

    /* ANNONCES */


    .bg-gris2 {
        background-color: white
    }

    /* J'ai overiter le background color pour la version 
        smartphone cetait surement un piege */

    section div.annonces {
        display: flex;
        flex-direction: column-reverse;
    }

    section div.annonces .hebergements {
        order: 1;
        width: 100%;
        padding: 0;
    }

    section div.annonces .hebergements h3 {
        padding: 25px 25px 0px 15px;
        font-size: 24px;
    }

    section div.annonces .hebergements div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 15px 40px 15px;
    }

    section div.annonces .hebergements .annonce {
        width: 100%;
        border-width: 1px;
        margin: 20px 10px 5px 0px;
        background-color: white;
        border: 5px solid white;

        box-shadow: 0px 0px 15px #cccccc;
        /* J'ai mis du temps a comprendre au debut je croyais que le 
            fond était legerement gris pour faire ressortir le blanc  */
    }


    section div.annonces .hebergements .annonce img {
        width: 99%;
        height: 115px;
        padding: 3px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        overflow: hidden;
    }

    section div.annonces .hebergements .annonce {
        width: 100%;
        padding: 0;
    }


    section div.annonces .hebergements .annonce .note {
        margin: 0px 15px 10px 0px;
    }

    /* POUPOULAIRES */



    section div.annonces .populaires {
        order: 1;
        width: 99%;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 15px;
        margin-left: -15px;
        border-radius: 0%;
    }

    section div.annonces .populaires .annonce {
        padding: 10px;
        width: 90%;
        margin: 10px;
        border-radius: 20px;
    }

    section div.annonces .populaires h3 {

        padding: 25px 25px 0px 15px;
        font-size: 24px;
    }

    /* ACTIVITES */

    section .activites .colonne {
        /* la je force a cause du destop css  */
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        /* margin: 5px; */
    }

    section .activites .colonne2 {
        /* ici c'est pas la peine */
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        /* margin: 5px; */
    }

    section .activites .colonne .annonce,
    ection .activites .colonne .annonce2,
    section .activites .colonne2 .annonce2,
    section .activites .colonne2 .annonce3,
    section .activites .colonne2 .annonce4 {
        /* La j'ai tout regroupé car c'est les memes caractéristiques */
        height: 200px;
        width: 100%;
        box-shadow: 0px 0px 15px #cccccc;
    }


    section div.activites .colonne .annonce img,
    section div.activites .colonne2 .annonce2 img,
    section div.activites .colonne2 .annonce3 img,
    section div.activites .colonne2 .annonce4 img {
        /* pareil pour les images */
        height: 200px;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        overflow: hidden;
    }

    /* FOOTER */

    footer {

        margin: 0 auto;
        margin-top: 880px;
        /* width: 120%;
            max-width: 100%; */
        padding-left: 100px;

    }

    footer .wrapper {
        display: flex;
        flex-direction: column;
        /* margin-left: -100px;
            margin-right: 100px;
            margin-top: -20px; */
        /* padding-left: -100px; */
        /* padding-top: -100px; */
        width: 100%;

    }

    footer .wrapper div {
        width: 100%;
        margin-top: 10px;
    }

    h3 {
        font-size: 24px;
    }
}