@media screen and (min-width: 768px) and (max-width: 1179px) {

    /* Normalement j'aurais du mettre 992px selon les breakpoints responsive design 2021 mais je trouve cela bien adapté */
    
	.wrapper,
	section div.annonces,
	section div.activites {
    
            width: 769px;
            margin: 0;
            padding: 0;
        
    }

	.bordure {
		border-radius: 0;
	}

    /* HEADER */
    header {
        padding: 10px 0 0;
    }

    header .navbar .signin 
    {

        position: absolute;
        padding: 0px 0px 0px 100px;
    }


    header .navbar ul li {
        border-top: none;
        border-bottom: solid 3px transparent;
        padding: 30px 25px 30px 25px;
    }

    header h2 {
        margin-top: 10px;
        width: 100%;
    }

    header form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }

    header form input {
        padding: 9px;
        flex-grow: 1;
    }

    header form button {
        line-height: 0;
    }

    header form button span {
        font-size: 0;
    }

    header form .fa-search {
        display: block;
        color: #FFF;
    }

    header div.filtres {
        flex-wrap: wrap;
    }

    header div.filtres .boutons {
        margin: 15px 0 0 30px;
    }

	/* ANNONCES */

    section div.annonces {
        display: flex;
        flex-direction: column;
    }

    section div.annonces .hebergements {
        order: 1;
		width: 780px;
    }

    .bg-gris {
        background-color:transparent;
    }

    section div.annonces .populaires {
        width: 100%;
        padding: 15px 40px;
    }

    section div.annonces .hebergements div {
        display: flex;
		flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

	/* section div.annonces .hebergements .annonce {
        display: flex;
		flex-direction: raw;
        justify-content: space-between;
        width: 100%;
		padding: 0;
	} */

    section div.annonces  #popular {
              
        display: flex;
		flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 15px 40px;
        margin-top: 30px;
        padding: 0;
    }

	section div.annonces .populaires .annonce {
        display: flex;
		flex-direction: row;
        justify-content: space-between;
		padding: 0;
	}

	/* ACTIVITES */
	/* section .activites {
		height: auto;
	}
 */
	section .activites .colonne {
		width: 100%;
		margin: 0;
	}

    section div.annonces .hebergements .annonce img {
        width: 100%;
        height:auto;
    }

    section div.annonces .hebergements .annonce img {
        width: 100%;
        height: 350px;
        padding: 5px 5px 20px;
        object-fit: cover;
    
    }

	/* FOOTER */
	footer .wrapper {
		flex-direction: column;
	}

	footer .wrapper div {
	    width: 100%;
		margin-top: 30px;
	}


}