@media screen and (min-width: 765px) and (max-width: 1200px) {


    .wrapper,
    section div.annonces,
    section div.activites {
        width: 680px;
        margin: 0 auto;
    }

    /* HEADER */
    header {
        padding: 10px 0 0;
    }

    header .navbar ul li {
        border-top: none;
        border-bottom: solid 3px transparent;
        /* en mode transparent pour pas qu'elle s'affiche par defaut */
        padding: 30px 25px 30px 25px;
    }

    header .navbar .active ,header .navbar ul li.active a{

        border-top : none;
        border-color: #0065FC;
    }

    header h2 {
        margin-top: 10px;
        width: 100%;
    }

    header form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 670px;
        padding: 0 5px;
    }

    header form input {
        padding: 9px;
        flex-grow: 1;
    }

    header form button {
        line-height: 0;
    }

    header form button span {
        font-size: 0;
    }

    header form .fa-search {
        display: block;
        color: #FFF;
    }

    header div.filtres {
        flex-wrap: wrap;
        width: 700px;
    }

    /* .titredufiltre {

        display: none;
    } */

    header div.filtres .boutons {
        margin: 5px 0 0 10px;
    }

    /* ANNONCES */

    section div.annonces {
        display: flex;
        flex-direction: column;
    }

    section div.annonces .hebergements {
        order: 1;
        width: 650px;
    }

    section div.annonces .hebergements .annonce {
        width: 33%;
        padding: 5px 5px 5px;
        margin-bottom: 30px;
        background-color: #FFF;
    }


    section div.annonces .hebergements div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section div.annonces .hebergements .annonce img {
        width: 210px;
        height: 110px;
        padding: 1px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    section div.annonces .hebergements h3 {
        padding: 0px 25px 5px 0px;

    }

    /* POUPOULAIRES */

    section div.populaires {
        display: flex;
        display: block;
        flex-direction: row;
        justify-content: space-between;
        width: 660px;
    }

    section div.annonces .populaires {

        width: 660px;
        padding: 0px 20px 20px 10px;

        margin: 10px 10px 10px 0px;
        /* background-color : #F2F2F2; */
        border-radius: 15px;
    }

    /* ACTIVITES */

    section .activites {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 650px;
        margin-bottom: 30px;

    }

    section .activites .colonne {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 110%;
    }

    section div.activites .colonne .annonce img,
    section div.activites .colonne .annonce2 img,
    section div.activites .colonne .annonce3 img,
    section div.activites .colonne .annonce4 img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        padding: 0%;
        border-radius: 0px 0px 0px 0px;
    }

    h3 {
        padding: 25px 25px 0px 15px;
        font-size: 24px;
    }

    /* FOOTER */

    /* vu que c'est ma version je préfere sans debordement et arrondi  */
    footer {
        padding-left: 150px;
        /* width: 590px; */
        /* j'ai hésité a la fixer comme ci dessus mais bon autant faire
        comme les deux autres versions */

        margin: 0 auto;
        margin-top: 560px;
        border-radius: 20px;
    }

    footer .wrapper {
        width: 100%;

    }

    /* l'espace entre les ul du footer  */
    footer .wrapper div {
        width: 45%;
    }

    footer div h6 {
        font-size: 14px;
        font-weight: 700;
    }

    footer div h6,
    footer div ul li {
        margin-bottom: 1rem;
        font-size: 14px;
    }

}