.login {
    /* A COMPLETER POUR LE RESPONSIVE */
}

@media screen and (min-width: 200px) and (max-width: 640px) {


    /* .titrehebergementsaMarseille {
        /* display: flex ;
    float: left; */

    /* } */ 

    header nav a {
        color: green;
        font-size: 26px;
        text-decoration: none;
        border-bottom: 10px purple dashed;
    }

    header nav a:hover {
        color: yellow;
        font-size: 36px;
        text-decoration: underline;
        border-bottom: 10px black dashed;
    }

    #logo {
        background-color: pink;
        width: 200px;
        height: 200px;
        float: left;
    }

    .header2 {
        clear: both;

    }

    .header2 h2.title {
        background-color: white
    }

}


    /* .header {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between;align-self: center;align-items: center;height: 150px; width : 1000px ; */
    /* background-color:beige; */
    /* } */

    body {
        font-family: "Raleway-Regular", Arial, Verdana, sans-serif;
        font-size: 100%;
        width: 1100 px;
    }

    /* HEADER */
    #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        justify-content: space-between;
        text-decoration: none;
    }

    .title {
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: -20px;
    }

    .subtitle {
        font-family: "Raleway-ExtraLight", Arial, Verdana, sans-serif;
        margin-top: 8px;
        margin-bottom: 20px;
    }


    /* SECTION POPUPLAIRES */
    .populairesEtHebergements {
        border: 3px solid blue;
        /* A SUPPRIMER A LA FIN DU PROJET */
        margin-top: 8px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }



    /* A PARTIR D ICI A RETRAVAILLER */
    .header6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* height: 150px; width : 1000px ; */
        background-color: beige;
    }

    .TexteTouverVotrehebergement,
    .ActivitesMarseille,
    .ToutesLesActivites {
        display: flex;
        align-items: center;
        justify-content: left;
        height: 30px;
        width: 100%;
        background-color: burlywood;
        margin: 20px;
    }

    #search {
        display: flex;
        justify-content: space-around;

        align-items: center;
        height: 150px;
        width: 1000px;
        background-color: beige;
    }

    #carateremap,
    #formulaire,
    #loupe {
        display: flex;

        align-items: center;
        justify-content: center;
        height: 80px;
        width: 120px;
        background-color: burlywood;
    }

    #touslesFiltres {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: left;


    }

    .section2 {
        display: flex;
        align-items: center;
        justify-content: left;
        /* height: 30px; */
        /* width: 65%; */
        /* background-color: burlywood; */
        margin: 20px;
    }

    .lesHotelsPopulaires {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: space-around;
        align-items: center;
        height: 150px;
        /* width : 35% ; */
        background-color: #F2F2F2;
    }



    .lesHotelsaMarseille {
        clear: both;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        eight: 150px;
        width: 65%;
        background-color: #F2F2F2;

    }

    .Hebergements {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
            /* justify-content: space-around; */
            align-items: center;
        height: 700px;
        width: 700px;
        background-color: #F2F2F2;

    }

    .CadreBlancHebergement {
        background-color: white;
        border: 5 px solid white;
        border-radius: 8%;
        text-align: left;
        padding: 8px;
        margin: 5px;
        line-height: 1 px;
    }

    .CadreBlancHebergementPopulaires {

        justify-content: space-around;
        background-color: white;
        border: 5 px solid white;
        border-radius: 3%;
        text-align: left;
        width: 350px;
        /* padding: 8px; */
        margin: 10px;
        line-height: 1 px;
    }

    .populaires {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F2F2F2;
        width: 300 px;
    }

    .article {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #F2F2F2;
    }


    .imageHotel {
        border-radius: 8% 8% 0% 0%;
        width: 200px;
        height: 133px;
    }

    .imageHotel2 {
        border-radius: 8% 0% 0% 8%;
        width: 100px;
        height: 133px;
        object-fit: cover;
        object-position: +10% 0;
        margin right: 2px;
    }


    #EneteTitreblocpolaires,
    #TexteHerbements {
        display: flex;

        align-items: center;
        justify-content: center;
        height: 30px;
        width: 100%;
        background-color: burlywood;
        margin: 20px;
    }



    #footer_box {
        background-color: #f2f2f2;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    ul {
        list-style: none;
    }

    .blue {
        color: #0065FC;
    }

    .grey {

        color: rgb(217, 217, 217);
    }

    .TexteAPropos,
    .TexteNosHebergements,
    .TexteAssistance {
        font-weight: bold;
    }

    @media screen and (min-width: 1280px) {
        .lesHotelsaMarseille {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 700px;
        }


        .CadreBlancHebergementPopulaires {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 150px;
            width: 100 %;
            /* background-color: #F2F2F2; */
        }

        .populaires {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #F2F2F2;
            width: 300 px;
        }


        .article {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #F2F2F2;
        }

        .Hebergements {
            display: flex;
            align-items: left;

        }

        .populairesEtHebergements {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;


        }

        #footer_box {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;

        }


    }